<div id="blogcontentcontainer">
<div>
<div style="position:relative; left:175px;">
	<span class="blogroundtop" style="width:300px;">
		<span class="blogcurve1"></span><span class="blogcurve2"></span><span class="blogcurve3"></span><span class="blogcurve4"></span>
	</span>	
	<div class="centeredimage" style="background-color:rgb(159,198,237); width:300px;">
		<span class="smallText">Posted by username on timestamp</span> 
	</div>
</div>
</div>
<div id="blogpost" style="background-color:rgb(159,198,237);">
<span class="blogroundtop">
	<span class="blogcurve1"></span><span class="blogcurve2"></span><span class="blogcurve3"></span><span class="blogcurve4"></span>
</span>
<div style="background-color:rgb(159,198,237);">
<div class="blogcontent">

<div class="entryTitle">Title</div>
<div class="entryText">Entry Text</div>

<br />
<a href="">Comments (0)</a>
</div>
</div>
<span class="blogroundbottom">
	<span class="blogcurve4"></span><span class="blogcurve3"></span><span class="blogcurve2"></span><span class="blogcurve1"></span>
</span>
</div>
<br />

</div>
