{% extends "layout.html" %}

{% block nav %}
{% include('adminNav.html') %}
{% endblock %}

{% block body %}

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

// Display date picker when scheduling a league night
$(function() {
	$( "#leaguenightdate" ).datepicker();
});

// Will render window to ready league night
$(document).ready(function() {
	$('#bnight').click(function(e) {
		e.preventDefault();
		$('#beginnight').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

// Will render window to configure new league night
$(document).ready(function() {
	$('#lnight').click(function(e) {
		e.preventDefault();
		$('#leaguenight').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

// Will render window to configure new season
$(document).ready(function() {
	$('#season').click(function(e) {
		e.preventDefault();
		$('#createseason').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

</script>

<h2>Run League</h2>

<h3>League Night</h3>

<button name="bnight" id="bnight" data-reveal-id="beginnight" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Open League Night (Registration)</button>	
<button name="lnight" id="lnight" data-reveal-id="leaguenight" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Start League Night</button>
<button name="cnight" id="cnight" data-reveal-id="closenight" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Close League Night</button>

<h3>Season</h3>


<button name="season" id="season" data-reveal-id="createseason" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Start New Season</button>


<!--Popup for beginning league night-->
<div id="beginnight" class="reveal-modal">
	<h1>Begin League Night</span></h1>
        
	<div>
	<p>Begins a new league night.  Specify a location and polling will be open for the next league night.</p>
	<form name="beginleaguenightform" id="beginleaguenightform">
	<p>So... When is this goin down? <input type="text" id="leaguenightdate" /></p>
	<p>So... Where is this goin down? 
	<select name="beginleaguelocation" id="beginleaguelocation">
	{% for location in locations %}
	<option value="{{ location['lid'] }}">{{ location['name'] }}</option>
	{% endfor %}
	</select></p>
	</form>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!--Popup for starting league night-->
<div id="leaguenight" class="reveal-modal">
	<h1>Start League Night</span></h1>
        
	<div>
	<p>League play has begun.  Everyone who has voted will be checked in as being present and groups will be assembled.</p>
	<form name="startleagueplayform" id="startleagueplayform">
	
	</form>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!--Popup for starting new season-->
<div id="createseason" class="reveal-modal">
	<h1>Create New Season</h1>
        
	<div>
	<p>The current season is over.  Archive the old season and begin a brand new multi week season.</p>
	<form name="createseasonform" id="createseasonform">

	</form>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}
