{% extends "layout.html" %}

{% block nav %}
{% include('globalNav.html') %}
{% endblock %}

{% block body %}

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

// Render Player: AJAX call to grab specific player info
function rp(pid) {
	$.getJSON($SCRIPT_ROOT + '/_single_player_profile', {
	pid: pid
	}, function(data) {
        	$("#rendered_player_name").text(data.name);

		var initials = "";
		if (data.nick != "") {
			initials = " ("+data.nick+")";
		}

		var ifpa = "";
		if (data.ifpanumber != null) {
			ifpa = data.ifpanumber;
		}

		// Initialize fields to prevent ghosting of previous inputs
		                $("#rendered_player_nick").text(initials);
                $("#rendered_player_ifpa").text("");
                $("#rendered_player_ifpa").attr("href", 'https://www.ifpapinball.com/player.php?p='+ifpa);
                $("#rendered_player_phone").text("");
                $("#rendered_player_location").text("");
                $("#rendered_player_pinside").attr("href", 'http://pinside.com/pinball/community/pinsiders/');
                $("#rendered_player_notes").text("");
                $("#rendered_player_ifpastatus").text("");
                $("#rendered_player_ifpacurrentrank").text("");
                $("#rendered_player_ifpacurrentwpprvalue").text("");
                $("#rendered_player_ifpabestfinish").text("");
                $("#rendered_player_ifpaactiveevents").text("");


		$("#rendered_player_nick").text(initials);
		$("#rendered_player_ifpa").text(ifpa);
		$("#rendered_player_ifpa").attr("href", 'https://www.ifpapinball.com/player.php?p='+ifpa);
		$("#rendered_player_phone").text(data.phone);
		$("#rendered_player_location").text(data.location);
		$("#rendered_player_pinside").attr("href", 'http://pinside.com/pinball/community/pinsiders/'+data.pinside);
		$("#rendered_player_notes").text(data.notes);

		if (data.ifpanumber != null) {
			$("#rendered_player_ifpastatus").text(data.statuscode);
			$("#rendered_player_ifpacurrentrank").text(data.currentrank);
                	$("#rendered_player_ifpacurrentwpprvalue").text(data.currentwpprvalue);
                	$("#rendered_player_ifpabestfinish").text(data.bestfinish);
                	$("#rendered_player_ifpaactiveevents").text(data.activeevents);
		}
      	});
}
</script>

<h2>Players</h2>

<p>Table of all players registered, link to add player (if admin) and link to edit player.</p>

<table cellpadding=0 cellspacing=0 border=0 class=display id=showdatatable width=100%>
	<thead>
		<tr>
			<th>Player</th>
			<th>IFPA #</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
	{% for entry in entries %}
	<tr>
		<td><a href="#" data-reveal-id="myModal" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal" onclick="javascript:rp({{ entry['pid'] }});">{{ entry['name'] }}
		{% if entry['nick'] %}
		({{ entry['nick'] }})
		{% endif %}
		</a></td>
		<td>
		{% if entry['ifpanumber'] %}
		<a href="https://www.ifpapinball.com/player.php?p={{ entry['ifpanumber'] }}">{{ entry['ifpanumber'] }}</a>
		{% endif %}
		</td>
		<td>{{ entry['email'] }}</td>
		<td>{{ entry['phone'] }}</td>
	</tr>
	{% else %}
	<tr><td>No entries.</td><td></td><td></td><td></td></tr>
	{% endfor %}	
	</body>
</table>

<!--Popup to show player details-->
<div id="myModal" class="reveal-modal">
        <h1><span id="rendered_player_name"></span><span id="rendered_player_nick"></span></h1>
        <p>Any content could go in here.</p>
        <div>
	<p><b>IFPA #: </b><a href="" id="rendered_player_ifpa"></span><span id="rendered_player_ifpa"></span></a></p>
        <p><b>Phone: </b><span id="rendered_player_phone"></span></p>
        <p><b>Location: </b><span id="rendered_player_location"></span></p>
        <p><b>Pinside: </b><a href="" id="rendered_player_pinside">Pinside</a></p>
        <p><b>Notes: </b><span id="rendered_player_notes"></span></p>
 	<p><b>IFPA Status Code: </b><span id="rendered_player_ifpastatus"></span></p>
	<p><b>IFPA Current Rank: </b><span id="rendered_player_ifpacurrentrank"></span></p>
        <p><b>IFPA Current WPPR Value: </b><span id="rendered_player_ifpacurrentwpprvalue"></span></p>
	<p><b>IFPA Best Finish: </b><span id="rendered_player_ifpabestfinish"></span></p>
	<p><b>IFPA Total Active Events: </b><span id="rendered_player_ifpaactiveevents"></span></p>
        </div>
        <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}
