<div style="height:120px;">
<div id="layerrunleague" style="position:relative; top:10px; height:20px; width:110px; z-index:1;">
	<span class="navroundtop"><span id="runleague1" class="navcurve1" onmouseover="mouseoverTab('runleague');" onmouseout="mouseoutTab('runleague');"></span>
	<span id="runleague2" class="navcurve2" onmouseover="mouseoverTab('runleague');" onmouseout="mouseoutTab('runleague');"></span>
	<span id="runleague3" class="navcurve3" onmouseover="mouseoverTab('runleague');" onmouseout="mouseoutTab('runleague');"></span>
	<span id="runleague4" class="navcurve4" onmouseover="mouseoverTab('runleague');" onmouseout="mouseoutTab('runleague');"></span></span>
	<div id="runleague5" class="tabstyle" onmouseover="mouseoverTab('runleague');" onmouseout="mouseoutTab('runleague');"><a href="/admin/runleague" class="globalnavlink">Run League</a></div>
</div>
<div id="layerplayers" style="position:relative; left:115px; top:-10px; height:20px; width:110px; z-index:1;">
	<span class="navroundtop"><span id="players1" class="navcurve1" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span>
	<span id="players2" class="navcurve2" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span>
	<span id="players3" class="navcurve3" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span>
	<span id="players4" class="navcurve4" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span></span>
	<div id="players5" class="tabstyle" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"><a href="/admin/players" class="globalnavlink">Players</a></div>
</div>
<div id="layerlocations" style="position:relative; left:230px; top:-30px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="locations1" class="navcurve1" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span>
	<span id="locations2" class="navcurve2" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span>
	<span id="locations3" class="navcurve3" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span>
	<span id="locations4" class="navcurve4" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span></span>
	<div id="locations5" class="tabstyle" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"><a href="/admin/locations" class="globalnavlink">Locations</a></div>
</div>
<div id="layercontent" style="position:relative; left:345px; top:-50px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="content1" class="navcurve1" onmouseover="mouseoverTab('content');" onmouseout="mouseoutTab('content');"></span>
	<span id="content2" class="navcurve2" onmouseover="mouseoverTab('content');" onmouseout="mouseoutTab('content');"></span>
	<span id="content3" class="navcurve3" onmouseover="mouseoverTab('content');" onmouseout="mouseoutTab('content');"></span>
	<span id="content4" class="navcurve4" onmouseover="mouseoverTab('content');" onmouseout="mouseoutTab('content');"></span></span>
	<div id="content5" class="tabstyle" onmouseover="mouseoverTab('content');" onmouseout="mouseoutTab('content');"><a href="/admin/content" class="globalnavlink">Content</a></div>
</div>
<div id="layerconfigure" style="position:relative; left:460px; top:-70px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="configure1" class="navcurve1" onmouseover="mouseoverTab('configure');" onmouseout="mouseoutTab('configure');"></span>
	<span id="configure2" class="navcurve2" onmouseover="mouseoverTab('configure');" onmouseout="mouseoutTab('configure');"></span>
	<span id="configure3" class="navcurve3" onmouseover="mouseoverTab('configure');" onmouseout="mouseoutTab('configure');"></span>
	<span id="configure4" class="navcurve4" onmouseover="mouseoverTab('configure');" onmouseout="mouseoutTab('configure');"></span></span>
	<div id="configure5" class="tabstyle" onmouseover="mouseoverTab('configure');" onmouseout="mouseoutTab('configure');"><a href="/admin/config" class="globalnavlink">Configure</a></div>
</div>
<div id="layerexport" style="position:relative; left:575px; top:-90px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="export1" class="navcurve1" onmouseover="mouseoverTab('export');" onmouseout="mouseoutTab('export');"></span>
	<span id="export2" class="navcurve2" onmouseover="mouseoverTab('export');" onmouseout="mouseoutTab('export');"></span>
	<span id="export3" class="navcurve3" onmouseover="mouseoverTab('export');" onmouseout="mouseoutTab('export');"></span>
	<span id="export4" class="navcurve4" onmouseover="mouseoverTab('export');" onmouseout="mouseoutTab('export');"></span></span>
	<div id="export5" class="tabstyle" onmouseover="mouseoverTab('export');" onmouseout="mouseoutTab('export');"><a href="/admin/data" class="globalnavlink">Export Data</a></div>
</div>
</div>
<div id="localnav" class="localnav">

