<div style="height:120px;">
<div id="layerhome" style="position:relative; top:10px; height:20px; width:110px; z-index:1;">
	<span class="navroundtop"><span id="home1" class="navcurve1" onmouseover="mouseoverTab('home');" onmouseout="mouseoutTab('home');"></span>
	<span id="home2" class="navcurve2" onmouseover="mouseoverTab('home');" onmouseout="mouseoutTab('home');"></span>
	<span id="home3" class="navcurve3" onmouseover="mouseoverTab('home');" onmouseout="mouseoutTab('home');"></span>
	<span id="home4" class="navcurve4" onmouseover="mouseoverTab('home');" onmouseout="mouseoutTab('home');"></span></span>
	<div id="home5" class="tabstyle" onmouseover="mouseoverTab('home');" onmouseout="mouseoutTab('home');"><a href="/" class="globalnavlink">Home</a></div>
</div>
<div id="layerstandings" style="position:relative; left:115px; top:-10px; height:20px; width:110px; z-index:1;">
	<span class="navroundtop"><span id="standings1" class="navcurve1" onmouseover="mouseoverTab('standings');" onmouseout="mouseoutTab('standings');"></span>
	<span id="standings2" class="navcurve2" onmouseover="mouseoverTab('standings');" onmouseout="mouseoutTab('standings');"></span>
	<span id="standings3" class="navcurve3" onmouseover="mouseoverTab('standings');" onmouseout="mouseoutTab('standings');"></span>
	<span id="standings4" class="navcurve4" onmouseover="mouseoverTab('standings');" onmouseout="mouseoutTab('standings');"></span></span>
	<div id="standings5" class="tabstyle" onmouseover="mouseoverTab('standings');" onmouseout="mouseoutTab('standings');"><a href="/standings" class="globalnavlink">Standings</a></div>
</div>
<div id="layercheckin" style="position:relative; left:230px; top:-30px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="checkin1" class="navcurve1" onmouseover="mouseoverTab('checkin');" onmouseout="mouseoutTab('checkin');"></span>
	<span id="checkin2" class="navcurve2" onmouseover="mouseoverTab('checkin');" onmouseout="mouseoutTab('checkin');"></span>
	<span id="checkin3" class="navcurve3" onmouseover="mouseoverTab('checkin');" onmouseout="mouseoutTab('checkin');"></span>
	<span id="checkin4" class="navcurve4" onmouseover="mouseoverTab('checkin');" onmouseout="mouseoutTab('checkin');"></span></span>
	<div id="checkin5" class="tabstyle" onmouseover="mouseoverTab('checkin');" onmouseout="mouseoutTab('checkin');"><a href="/checkin" class="globalnavlink">Check-In</a></div>
</div>
<div id="layerscores" style="position:relative; left:345px; top:-50px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="scores1" class="navcurve1" onmouseover="mouseoverTab('scores');" onmouseout="mouseoutTab('scores');"></span>
	<span id="scores2" class="navcurve2" onmouseover="mouseoverTab('scores');" onmouseout="mouseoutTab('scores');"></span>
	<span id="scores3" class="navcurve3" onmouseover="mouseoverTab('scores');" onmouseout="mouseoutTab('scores');"></span>
	<span id="scores4" class="navcurve4" onmouseover="mouseoverTab('scores');" onmouseout="mouseoutTab('scores');"></span></span>
	<div id="scores5" class="tabstyle" onmouseover="mouseoverTab('scores');" onmouseout="mouseoutTab('scores');"><a href="/scores" class="globalnavlink">Scores</a></div>
</div>
<div id="layerplayers" style="position:relative; left:460px; top:-70px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="players1" class="navcurve1" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span>
	<span id="players2" class="navcurve2" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span>
	<span id="players3" class="navcurve3" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span>
	<span id="players4" class="navcurve4" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"></span></span>
	<div id="players5" class="tabstyle" onmouseover="mouseoverTab('players');" onmouseout="mouseoutTab('players');"><a href="/players" class="globalnavlink">Players</a></div>
</div>
<div id="layerlocations" style="position:relative; left:575px; top:-90px; height:20px; width:110px; z-index:1;">
        <span class="navroundtop"><span id="locations1" class="navcurve1" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span>
	<span id="locations2" class="navcurve2" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span>
	<span id="locations3" class="navcurve3" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span>
	<span id="locations4" class="navcurve4" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"></span></span>
	<div id="locations5" class="tabstyle" onmouseover="mouseoverTab('locations');" onmouseout="mouseoutTab('locations');"><a href="/locations" class="globalnavlink">Locations</a></div>
</div>
</div>
<div id="localnav" class="localnav">

