<!doctype html>
<html>
<head>
<title>Silverball - {% print title %}</title>

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/default.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/roundedcorners.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/navstyles.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/redbar.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/lib/jquery-ui.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/lib/datatables.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/lib/reveal.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='scripts/lib/jquery-1.8.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/lib/jquery-ui-1.9.0.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/lib/jquery.reveal.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/lib/jquery.columnhover.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/lib/jquery.dataTables.js') }}"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#showdatatable').dataTable();
	} );

	$(document).ready(function() {
		$('#showdatatable2').dataTable({
			"pageLength": 50
		});
	} );

	$(document).ready(function() {
		$('#showdatatable3').dataTable();
	} );
</script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/openid.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/navselection.js') }}"></script>

<script type="text/javascript">
//<!--
window.onload=function()
{
	highlightActive("{% print highlightActive %}");
}
//-->
</script>

</head>
<body>
<div style="width:685px; margin:0 auto;">
{% include('header.html') %}

{% block nav %}{% endblock %}

&nbsp;&nbsp;<a href="/admin" class="localnavlinkselected">Admin</a>&nbsp;&nbsp;

{% include('localNav.html') %}

{% include('redbar.html') %}

<div id="maincontent" class="mainlayer">
<span class="roundtop">
	<span class="curve1"></span><span class="curve2"></span><span class="curve3"></span><span class="curve4"></span>
</span>
<div class="mainbuffer">

	{% block body %}{% endblock %}

{% include('copyright.html') %}

</div>
<span class="roundbottom">
	<span class="curve4"></span><span class="curve3"></span><span class="curve2"></span><span class="curve1"></span>
</span>
</div>
</div>

</body>
</html>
