<div style="width:685px; margin:0 auto; margin-bottom:10px; display:none;">

<div id="redbarpanel" class="redbar">
<span class="redroundtop">
        <span class="redcurve1"></span><span class="redcurve2"></span><span class="redcurve3"></span><span class="redcurve4"></span>
</span>
<div style="font-weight:bold;">

&nbsp;&nbsp;ALERT MESSAGE

</div>
<span class="redroundbottom">
        <span class="redcurve4"></span><span class="redcurve3"></span><span class="redcurve2"></span><span class="redcurve1"></span>
</span>
</div>
</div>
