{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
//<!--
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

// Render Location: AJAX call to grab specific location info
function rl(lid) {
	$.getJSON($SCRIPT_ROOT + '/_single_location_info', {
	lid: lid
	}, function(data) {
		$("#rendered_location_name").text(data.name);
		$("#rendered_location_address").text(data.address);
		$("#rendered_location_notes").text(data.notes);
	});
}

// Show Games: AJAX call to grab all games for specified location
function sg(lid) {
	$.getJSON($SCRIPT_ROOT + '/_games_for_location', {
	lid:lid
	}, function(data) {
		var gameoutput = "";
		// Loop through all games for location
		var toggle=0;
		for (var i=0; i < data.games.length; i++) {
			if (toggle == 0) {
				gameoutput = gameoutput + '<tr class="odd">';
				toggle = 1;
			}
			else {
				gameoutput = gameoutput + '<tr class="even">';
				toggle = 0;
			}
			// Loop through all details for particular game
			var game = data.games[i];

			gameoutput = gameoutput + '<td class="sorting_1">' + game[1] + "</td>";
			gameoutput = gameoutput + '<td class="">' + game[2] + "</td>";
			gameoutput = gameoutput + '<td class="">' + game[3] + "</td>";
			gameoutput = gameoutput + '<td class="">' + game[4] + "</td>";
			gameoutput = gameoutput + "</tr>";
		}
		$("#gamelistbody").html(gameoutput);
	});
}
//-->
</script>

<h2>Locations</h2>

List of places to play

<table cellpadding=0 cellspacing=0 border=0 class=display id=showdatatable width=100%>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Games</th>
		</tr>
	</thead>
	<tbody>
	{% for entry in entries %}
	<tr>
		<td><a href="#" data-reveal-id="myModal" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal" onclick="javascript:rl({{ entry['lid'] }}); sg({{ entry['lid'] }});">{{ entry['name'] }}</a></td>
		<td>{{ entry['address'] }}</td>
		<td></td>
	</tr>
	{% else %}
		<tr><td>No entries.</td><td></td></tr>
	{% endfor %}
	</tbody>
</table>

<!--Popup to show player details-->
<div id="myModal" class="reveal-modal">
	<h1><span id="rendered_location_name"></span></h1>
	
	<div>
	<p><b>Address: </b><span id="rendered_location_address"></span></p>
	<p><b>Notes: </b><span id="rendered_location_notes"></span></p>
	<h3>Games on Location</h3>
	<table cellpadding=0 cellspacing=0 border=0 class=display id=showdatatable2 width=100%>
		<thead>
		<tr>
			<th>Name</th>
			<th>Condition</th>
			<th>Notes</th>
			<th>Available for League</th>
		</tr>
		</thead>
		<tbody id="gamelistbody"></tbody>
	</table>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>


{% endblock %}
