{% extends "layout.html" %}

{% block nav %}
{% include('adminNav.html') %}
{% endblock %}

{% block body %}

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

// Edit post
function editPost(pid) {
	$.getJSON($SCRIPT_ROOT + '/admin/_admin_post_info', {
	pid: pid
	}, function(data) {
		$("#rendered_post_timestamp").text(data.timestamp);
		$("#rendered_post_title").text(data.title);
		$("#rendered_post_content").text(data.content);
		$("#rendered_post_active").text(data.active);
	});
}

// Update post visible/hidden
function setPostActive(pid, active) {
	$.getJSON($SCRIPT_ROOT + '/_update_post_status', {
	pid: pid
	active: active
	}, function(data) {

	});
}

// Will render window to edit post
$(document).ready(function() {
	$('#eloc').click(function(e) {
		e.preventDefault();
		$('#editpost').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

// Will render window to add new post
$(document).ready(function() {
	$('#aloc').click(function(e) {
		e.preventDefault();
		$('#addpost').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

</script>

<h2>Edit Content</h2>

Add/edit content.  General league information settings as well as making/editing new blog posts.

<h3>League Content</h3>

<form action="" name="editConfig" method="POST">
{{ form.hidden_tag() }}

<p><b>League Name: </b>{{ form.leaguename }}</p>

<p><b>Welcome Text: </b>{{ form.welcometext }}</p>

<p><input type="submit" value="Save" /></p>

</form>

<h3>Blog Posts</h3>

<table cellpadding=0 cellspacing=0 border=0 class=display id=showdatatable width=100%>
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>Title</th>
			<th>Active</th>
                </tr>
	</thead>
	<tbody>
	{% for post in posts %}
	<tr>
		<td>{{ post['timestamp'] }}</td>
		<td><a href="#" data-reveal-id="editpost" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal" onclick="javascript:editPost({{ post['pid'] }});">{{ post['title'] }}</a></td>
		<td>
		<select name="activepost-{{ post['pid'] }}" onchange="javascript:setPostActive(this.name.substring(this.name.indexOf('-')+1,this.name.length), this.value);">
			<option value="1"{% if post['active'] == 1 %} selected{% endif %}>Active</option>
			<option value="0"{% if post['active'] == 0 %} selected{% endif %}>Inactive</option>
		</select>
		</td>
	</tr>
	{% else %}
	<tr><td>No entries.</td><td></td><td></td></tr>
	{% endfor %}
	</tbody>
</table>

<p><a href="#" data-reveal-id="addpost" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Add New Post</a></p>

<!--Popup for editing post-->
<div id="editlocation" class="reveal-modal">
	<h1><span id="rendered_post_title"></span></h1>

	<div>
	<p>Edit post</p>

	<p><b>Timestamp: </b><span id="rendered_post_timestamp"></span></p>
	<p><b>Title: </b><span id="rendered_post_title"></span></p>
	<p><b>Text: </b><span id="rendered_post_text"></span></p>

	<div style="position:absolute; margin-top:15px;">
	<p><button name="deletepost">Delete Post</button></p>
	</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!--Popup for adding new post-->
<div id="addpost" class="reveal-modal">
	<h1>Add New Blog Post</h1>

	<div>
	<p>Add new blog post for league homepage.</p>

	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}
