{% extends "layout.html" %}

{% block nav %}
{% include('adminNav.html') %}
{% endblock %}

{% block body %}

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

// Show location details
function showLocation(lid) {
	$.getJSON($SCRIPT_ROOT + '/admin/_admin_location_info', {
	lid: lid
	}, function(data) {
		$("#rendered_location_name").text(data.name);
		$("#rendered_location_address").text(data.address);
		$("#rendered_location_notes").text(data.notes);
		$("#rendered_location_active").text(data.active);
	});
}

// Show games for location
function showGames(lid) {
	$.getJSON($SCRIPT_ROOT + '/admin/_games_for_location', {
	lid: lid
	}, function(data) {
		var gameoutput = "";
		// Loop through all games for location
		var toggle = 0;
		for (var i=0; i < data.games.length; i++) {
			if (toggle == 0) {
				gameoutput = gameoutput + '<tr class="odd">';
				toggle = 1;
			}
			else {
				gameoutput = gameoutput + '<tr class="even">';
				toggle = 0;
			}
			// Loop through all details for particular game
			var game = data.games[i];

			gameoutput = gameoutput + '<td class="sorting_1"><a href="' + game[11] + '">' + game[4] + "</td>";
			gameoutput = gameoutput + '<td class="">' + game[2] + "</td>";
			gameoutput = gameoutput + '<td class="">' + game[3] + "</td>";
			gameoutput = gameoutput + '<td class="">' + game[9] + "</td>";
			gameoutput = gameoutput + "</tr>";
		}
		$("#gamelistbody").html(gameoutput);
	});
}

// Update location status
function setLocationActive(lid, active) {
	$.getJSON($SCRIPT_ROOT + '/_update_location_status', {
	lid:lid,
	active:active
	}, function(data) {

	});
}

// Will render window to edit location
$(document).ready(function() {
	$('#eloc').click(function(e) {
		e.preventDefault();
		$('#editlocation').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

// Will render window to add new location
$(document).ready(function() {
	$('#aloc').click(function(e) {
		e.preventDefault();
		$('#addlocation').reveal({
			animation: 'fadeAndPop',                   //fade, fadeAndPop, none
			animationspeed: 300,                       //how fast animtions are
			closeonbackgroundclick: true,              //if you click background will modal close?
			dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
		});
	});
});

</script>

<h2>Manage Locations</h2>

<table cellpadding=0 cellspacing=0 border=0 class=display id=showdatatable width=100%>
	<thead>
		<tr>
			<th>Name</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
	{% for location in locations %}
	<tr>
		<td><a href="#" data-reveal-id="editlocation" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal" onclick="javascript:showLocation({{ location['lid'] }}); showGames({{ location['lid'] }});">{{ location['name'] }}</a></td>
		<td>
		<select name="activeloc-{{ location['lid'] }}" onchange="javascript:setLocationActive(this.name.substring(this.name.indexOf('-')+1,this.name.length), this.value);">
			<option value="1"{% if location['active'] == 1 %} selected{% endif %}>Active</option>
			<option value="0"{% if location['active'] == 0 %} selected{% endif %}>Inactive</option>
		</select>
		</td>
	</tr>
	{% else %}
	<tr><td>No entries.</td></tr>
	{% endfor %}
	</tbody>
</table>

<p><a href="#" data-reveal-id="addlocation" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close-reveal-modal">Add New Location</a></p>


<!--Popup for editing location/adding games to location-->
<div id="editlocation" class="reveal-modal">
	<h1><span id="rendered_location_name"></span></h1>

	<div>
	<p>Edit location.  Add/edit games at a location</p>

	<p><b>Address: </b><span id="rendered_location_address"></span></p>
	<p><b>Notes: </b><span id="rendered_location_notes"></span></p>

	<table cellpadding=0 cellspacing=0 border=0 class=display id=showdatatable2 width=100%>
		<thead>
		<tr>
			<th>Name</th>
			<th>Condition</th>
			<th>Notes</th>
			<th>Available for League</th>
		</tr>
		</thead>
		<tbody id="gamelistbody"></tbody>
	</table>
	<div style="position:absolute; margin-top:15px;">
	<p><a href="#">Add Game</a></p>
	<p><button name="deletelocation">Delete This Location</button></p>
	</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!--Popup for adding new location-->
<div id="addlocation" class="reveal-modal">
	<h1>Add New Location</h1>

	<div>
	<p>Add new location for league play.</p>

	<form action="" name="addLocation" method="POST">
	{{ locationform.hidden_tag() }}

	<p><b>Name: </b>{{ locationform.name }}</p>
	<p><b>Address: </b>{{ locationform.address }}</p>
	<p><b>Hide Address? </b>{{ locationform.addressprivate }}</p>
	<p><b>Location Type: </b>{{ locationform.loctype }}</p>
	<p><b>Notes: </b>{{ locationform.notes }}</p>
	<p><b>Active? </b>{{ locationform.active }}</p>

	<input type="submit" value="Add" />
	</form>

	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}
